* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  overflow: auto;
}

.background {
  position: fixed;
  inset: 0;
  font-family: monospace;
  white-space: nowrap;
  user-select: none;
}

.card {
  z-index: 1;
}

.content {
  width: 80vw;
  max-width: 1024px;
  margin-top: 3em;
}

.card h1 {
  margin: 0 0 0.25em;
}
.card h2,
.card h3 {
  margin: 0.25em 0 0.25em;
}

.card img {
  max-width: 100%;
}

.card pre {
  background: #1e1e1e;
  color: #d4d4d4;
  padding: 1em;
  margin: 1em 0;
  overflow-x: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  padding-top: 1em;
}

.header span,
.header nav {
  display: flex;
  gap: 1em;
}