:root {
  color-scheme: light dark;
  --bg: #ffffff;
  --text: #000000;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Iowan Old Style BT", Georgia, serif;
  line-height: 1.6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.page {
  flex-direction: column;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

h1 {
  margin: 0 0 0.25em;
}

h2,
h3 {
  margin: 0.25em 0;
}

hr {
  margin: 1em 0;
}

ul,
ol {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding-left: 1.5em;
}

#footnote-label {
  display: none;
}

sup {
  line-height: 0;
}

sup + sup::before {
  content: ", ";
}

a[data-footnote-backref] {
  display: none;
}

.content {
  width: 100%;
  max-width: 1024px;
  padding: 1em 1em 0;
}

.header {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  padding: 1em 1em 0;
}

.header nav {
  display: flex;
  gap: 0.5em;
}

@media (max-width: 768px) {
  interactive-art {
    max-height: 450px !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0e0e0e;
    --text: #fefefe;
  }

  a {
    color: skyblue;
  }

  a:hover {
    color: lightblue;
  }
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  padding: 0.5em 0;
}

.katex {
  max-width: 100%;
  font-size: 1em !important;
}
