* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  overflow: auto;
}

h1 {
  margin: 0 0 0.25em;
}
h2,
h3 {
  margin: 0.25em 0 0.25em;
}

.background {
  position: fixed;
  inset: 0;
  font-family: monospace;
  white-space: nowrap;
  user-select: none;
}

.content {
  width: 95vw;
  max-width: 1024px;
  padding-top: 1em;
}

.header {
  width: 95vw;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

.header nav {
  display: flex;
  gap: 0.5em;
}

@media (max-width: 768px) {
  interactive-art {
    display: none !important;
  }
}