<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blog | soohoonchoi</title>
  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/styles.css" />
  <link rel="alternate" type="application/rss+xml" title="soohoonchoi blog" href="/feed.xml" />
</head>

<body class="page">
  <script src="/scripts/breadcrumb.js"></script>
  <script src="/scripts/header.js"></script>
  <site-header></site-header>
  <main class="content">
    <h1>Blog</h1>
    {{posts}}
  </main>
</body>

</html>