$font-style: Helvetica , Sans-serif;
$primary-color: rgb(50,50,50);
$padding: 15%;

body {
    font: 100% $font-style;
    color: $primary-color;
    padding-left: $padding;
    padding-right: $padding;
}
